.modal {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.783);
  z-index: 1;
}

.modal-content span {
  font-weight: 700;
}

.--open {
  visibility: visible;
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 920px;
  width: 100%;
  background-color: white;
  margin: 20px;
  padding: 24px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.modal-title {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
}

.modal-content {
  padding: 20px;
}

.btn-reset {
  border-radius: 32px;
  padding: 6px 10px;
  background-color: #e4c1ae;
  color: white;
  border: none;
  margin-top: 32px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  visibility: hidden;
}

.--active {
  visibility: visible;
}

@media screen and (max-width: 1024px) {
  .modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin: 20px;
    padding: 24px;
  }
}
